@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #ecf0f3;
}

/* HEADER-AREA.NAV BAR */

#nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 5%;
  background-color: white;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  cursor: pointer;
  background-color: white;
  margin-right: auto;
}

li, .nav-link, .con-Link, .con-Btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.nav-container {
  list-style: none;
}

.nav-container, li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-container, li, .con-Link, .nav-link {
  transition: all 0.3s ease 0s;
  background-color: white;
}

.nav-container, li, .con-Link:hover, .nav-link:hover {
  color: rgb(212, 17, 43);
  font-size: 20px;
  text-shadow: 0px 1px 17px red;
}

.con-Btn {
  margin-left: 15px;
  padding: 9px 25px;
  background-color: rgb(163, 114, 89);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: black 0px 0px 5px 0px;
}

.con-Btn:hover {
  background-color: rgb(219, 153, 124);
  font-size: 20px;
}

/* HOME & SLIDESHOW AREA  */

.home-area {
  background: #ecf0f3;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden;
}

.slideshow {
  display: inline-block;
  padding-left: 80px;
}

.slide-image {
  vertical-align: middle;
  border-radius: 50px 50px;
  max-width: 100%;
  height: auto;
}

.slides {
  display: none;
  width: 700px;
}

.prev, .next {
  display: inline-block;
  cursor: pointer;
  color: rgb(252, 137, 14);
  font-weight: bold;
  font-size: 90px;
  transition: 0.3s ease;
  user-select: none;
  text-shadow: -20px -1px 0px #ff0000;
  background: #ecf0f3;
}

.prev {
  padding-left: 20px;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  transform: scale(1.2);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.home-details {
  display: inline-block;
  padding-left: 100px;
  width: 90%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.homeTitle-m {
  font-size: 25px;
  font-weight: bold;
}

.homeTitle-l {
  font-size: 40px;
  font-weight: bolder;
  padding-top: 20px;
}

.homeTitle-s {
  font-size: 10px;
  font-weight: bold;
}

.home-p {
  font-size: 15px;
  padding-top: 40px;
}

.homeLearn-More {
  margin-top: 50px;
  margin-left: 10px;
}

.homeMore-Btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 15px;
  padding: 15px 40px;
  background-color: rgb(163, 114, 89);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: black 0px 0px 5px 0px;
}

.homeMore-Btn:hover {
  background-color: rgb(219, 153, 124);
  font-size: 20px;
}

/* ABOUT AREA.PAGE.VIDEO */

.about-Area {
  background: #ecf0f3;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-Page, .aboutTitle-m, .about-p, .aboutTitle-s {
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

.aboutTitle-m, .about-p, .aboutTitle-s {
  width: 50%;
}

.aboutTitle-m {
  font-size: 25px;
  font-weight: bold;
}

.aboutTitle-s {
  font-size: 10px;
  font-weight: bold;
}

.aboutTitle-l {
  font-size: 40px;
  font-weight: bolder;
  padding-top: 30px;
}

.about-p {
  padding-top: 40px;
  font-size: 15px;
}

video {
  margin-top: 100px;
  width: 70%;
  height: auto;
  border: 2px solid orange;
  box-shadow: black 0px 0px 5px 0px;
  transition: all 0.3s ease 0s;
}

video:hover {
  transition: all 0.3s ease 0s;
  box-shadow: black 0px 0px 30px 0px;
}

/* FEATURES AREA.PAGE */

.features-Area {
  background: #ecf0f3;
  margin-top: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.features-Page, .featuresTitle-m, .features-p, .featuresTitle-s, .features-Icon {
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

.featuresTitle-m {
  font-size: 25px;
  font-weight: bold;
}

.features-p {
  padding-top: 40px;
  font-size: 15px;
  width: 50%;
}

.featuresTitle-s {
  font-size: 10px;
  font-weight: bold;
}

.featuresTitle-m, .featuresTitle-s, .features-Icon {
  width: 100%;
}

.features-Icon {
  display: flex;
  background: #ecf0f3;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px;
}

.note {
  background: #ffffff;
  margin-left: 100px;
  box-shadow: black 0px 0px 5px 0px;
  border-radius: 50px;
  border: 1px solid rgb(175, 110, 86);
}

.hear {
  background: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: black 0px 0px 5px 0px;
  border-radius: 50px;
  border: 1px solid rgb(175, 110, 86);
}

.quality {
  background: #ffffff;
  margin-right: 100px;
  box-shadow: black 0px 0px 5px 0px;
  border-radius: 50px;
  border: 1px solid rgb(175, 110, 86);
}

.note:hover, .hear:hover, .quality:hover {
  box-shadow: black 0px 0px 10px 0px;
}

.material-icons.featuresIcons {
  background: #ffffff;
  font-size: 50px;
  padding: 30px;
  color: #fc6722;
}

.t-icons {
  font-size: 20px;
  font-weight: bold;
  background: #ffffff;
}

.p-icons {
  font-size: 15px;
  padding: 30px;
  background: #ffffff;
}

/* CONTACT AREA.PAGE.FORM */

.contact-Area {
  background: #ecf0f3;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-Page, .contactTitle-m, .contact-p {
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

.contactTitle-m {
  font-size: 25px;
  font-weight: bold;
}

.contact-p {
  padding-top: 40px;
  font-size: 15px;
  width: 50%;
}

.iconsFormsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.iconsContainer {
  flex-flow: column;
  text-align: left;
  width: 30%;
  margin: 50px;
}

.contactIcons {
  display: flex;
  padding: 20px;
}

.iconsMedium.material-icons {
  font-size: 30px;
  border: 15px solid #ecf0f3;
  border-radius: 50%;
  box-shadow: black 0px 0px 5px 0px;
  margin-right: 20px;
  color: darkred;
}

.conTitle {
  font-size: 15px;
  font-weight: bolder;
}

.conDetails {
  font-size: 15px;
  font-weight: lighter;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 13px 13px 20px #cbced1,
              -13px -13px 20px #ffffff;
  text-align: left;
  margin: 50px;
}

.contactForms {
  width: 100%;
  padding: 40px;
}

.formTitle {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.formInputs {
  width: 100%;
  margin-top: 10px;
}

.inputBox, .textBox {
  font-size: 15px;
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  border-bottom: 2px solid orangered;
  padding: 10px 0;
  margin: 5px 0;
}

.inputLabel {
  font-size: 15px;
}

.inputSend {
  color: white;
  text-shadow: 0 0 15px black;
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
  border: none;
  background-color: orangered;
  padding: 10px 0;
  margin: 30px 0 10px;
  box-shadow: black 0px 0px 5px 0px;
}

.inputSend:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 640px) {
  main {
    width: 100%;
  }
}