@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: auto;
  background: #ecf0f3;
}


/* HEADER-AREA.NAV BAR */
#header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #ffffff;
  padding: 0 30px;
}

#nav-bar, .nav-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.nav-li, .nav-link, .con-Btn {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  padding: 30px 20px;
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
}

.nav-link:hover {
  color: #df0000;
  border-bottom: 1px solid #ff0000;
}

.con-Link {
  padding: 0 20px;
}

.con-Btn {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 30px;
  color: #ffffff;
  font-weight: bolder;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: rgb(163, 114, 89);
  cursor: pointer;
  box-shadow: black 0px 0px 5px 0px;
}

.con-Btn:hover {
  color: #df0000;
  background-color: #ffffff;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}


/* HEADER-AREA.NAV BAR MEDIA QUERY */
@media screen and (max-width: 700px) {
  
  #header {
    padding: 0 10px;
  }

  .logo {
    width: 50px;
  }

  .nav-li, .nav-link, .con-Btn {
    padding: 5px;
  }

  .con-Link {
    padding: 0 10px;
  }

  .con-Btn {
    padding: 10px;
  }
}


/* HOME & SLIDESHOW AREA  */
.home-area {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 50px;
}

.slide-homepage-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.slideshow, .home-page {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 20px 0;
}

.prev, .next {
  padding: 0 50px;
  text-align: center;
  cursor: pointer;
  color: rgb(252, 137, 14);
  font-weight: bolder;
  font-size: 6em;
  transition: all 0.3s ease 0s;
  user-select: none;
  text-shadow: -20px -1px 0px #ff0000;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  transform: scale(1.2);
}

.slide-image {
  border-radius: 50px 50px;
  width: 100%;
  height: auto;
}

.slides {
  width: 100%;
  height: auto;
  display: none;
}

.homeTitle-l {
  padding: 20px 0;
}

.homeLearn-More {
  width: 100%;
  height: auto;
  margin: 50px 0;
}

.homeMore-Btn{
  font-family: 'Montserrat', sans-serif;
  padding: 10px 30px;
  color: #ffffff;
  font-weight: bolder;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: rgb(163, 114, 89);
  cursor: pointer;
  box-shadow: black 0px 0px 5px 0px;
}

.homeMore-Btn:hover {
  color: #df0000;
  background-color: #ffffff;
}


/* HOME & SLIDESHOW AREA MEDIA QUERY */
@media screen and (max-width: 700px) {
  
  .home-area {
    padding: 20px;
    text-align: center;
  }

  .slide-homepage-container {
    flex-direction: column;
    padding: 0;
  }

  .slideshow, .slides, .slide-image  {
    margin-top: 50px;
  }

  .slideshow, .home-page {
    padding: 0;
    margin: 10px 0;
  }

  .prev, .next {
    font-size: 3em;
    padding: 0;
  }

  .next {
    padding-left: 20px;
  }

  .homeTitle-l {
    padding: 10px 0;
    font-size: 1.2em;
  }

  .home-p {
    font-size: 0.8em;
  }

  .homeLearn-More {
    margin: 0;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



/* ABOUT AREA.PAGE.VIDEO */
.about-Area {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-Page {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.aboutTitle-l {
  padding: 40px 0;
}

.about-p {
  padding: 0 30px;
}

video {
  margin-top: 100px;
  width: 70%;
  height: auto;
  border: 2px solid orange;
  box-shadow: black 0px 0px 5px 0px;
  transition: all 0.3s ease 0s;
}

video:hover {
  transition: all 0.3s ease 0s;
  box-shadow: black 0px 0px 30px 0px;
}


/* ABOUT AREA.PAGE.VIDEO MEDIA QUERY*/
@media screen and (max-width: 700px) {

  .aboutTitle-l {
    font-size: 1.2em;
    padding: 15px 0;
  }
  
  video {
    margin-top: 30px;
  }

  .about-Area {
    padding: 20px;
  }
}



/* FEATURES AREA.PAGE */
.features-Area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.features-Page {
  padding: 20px;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.features-p {
  padding: 100px 30px;
}

.features-Icon {
  padding: 50px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.note, .hear, .quality {
  background: #ffffff;
  width: 50%;
  height: auto;
  padding: 20px;
  box-shadow: black 0px 0px 5px 0px;
  border-radius: 50px;
  border: 1px solid rgb(175, 110, 86);
  margin: 0 10px;
}

.note:hover, .hear:hover, .quality:hover {
  box-shadow: black 0px 0px 10px 0px;
}

.material-icons.featuresIcons {
  font-size: 50px;
  color: #fc6722;
}

.t-icons {
  font-weight: bold;
  padding: 10px;
}


/* FEATURES AREA.PAGE MEDIA QUERY*/
@media screen and (max-width: 700px) {

  .features-Area {
    padding: 20px;
  }

  .features-p {
    padding: 10px 5px;
  }

  .features-Icon {
    padding: 10px;
    flex-direction: column;
  }

  .note, .hear, .quality {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
}



/* CONTACT AREA.PAGE.FORM */
.contact-Area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.contact-Page  {
  padding: 20px;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.contact-p {
  padding: 100px 30px;
}

.iconsFormsContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.contactIcons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  text-align: left;
  padding: 20px;
}

.iconsContainer {
  margin: 10px;
}

.detailsContact {
  padding-left: 20px;
}

.iconsMedium.material-icons {
  border: 15px solid #ecf0f3;
  border-radius: 50%;
  box-shadow: black 0px 0px 5px 0px;
  color: darkred;
}

.formContainer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  margin: 10px;
  box-shadow: 13px 13px 20px #cbced1,
              -13px -13px 20px #ffffff;
}

.contactForms, .formInputs {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.inputBox, .inputLabel {
  width: 100%;
  height: auto;
  text-align: left;
}

.inputBox {
  padding: 10px 30px;
  border: none;
  resize: none;
  outline: none;
  border-bottom: 2px solid orangered;
  border-radius: 50px;
}

.btn-Inputs {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.inputSend {
  color: white;
  font-weight: bolder;
  border: none;
  background-color: orangered;
  padding: 10px 40px;
  box-shadow: black 0px 0px 5px 0px;
}

.inputSend:hover {
  transform: scale(1.05);
}

/* CONTACT AREA.PAGE.FORM MEDIA QUERY */
@media screen and (max-width: 700px) {

  .contact-Area {
    padding: 20px;
  }
  
  .contact-p {
    padding: 10px 5px;
  }
  
  .iconsFormsContainer {
    flex-direction: column;
    padding: 10px;
  }

  .formContainer {
    width: 100%;
    padding: 30px;
  }

  .contactForms, .formInputs {
    padding: 10px;
  }

  .inputBox {
    padding: 5px 10px;
}